* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
   
}


main {
    width: 70rem; /* 1260px */
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.main_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f2f2f2;
    padding: 8px 25px;
    margin-top: 25px;
    background-color: #f2f2f2;
    border-radius: 100px;  
}

.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.nav_link a {
    text-decoration: none;
    color: #242424;
    font-size: 14px;
}

.nav_link a :nth-child(1) {

    color: #6A6A6A;
}

.nav_link a :nth-child(1):hover {
    color: #242424;
}

.ec_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #F4FB5C;
    padding: 12px 32px;
    border-radius: 100px;
    transition: 0.5s;

}

.ec_button:hover {
    box-shadow: 3px 3px 0px #000000;
}

.ec_button:active {
    background-color: #f2ff00;
}

.main_content {
    width: 100%;
    height: 650px;
    background-image: url(assets/background-main.png);
    border-radius: 15px;
    
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}

.text_content {
width: 500px;
display: flex;
flex-direction: column;
gap: 170px;
color: #ffffff;
    
}

.MV_box {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    
}

.mission,
.vission {
    height: auto;
    gap: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 15px 30px;    
}

.mission {
    background-color: rgba(4, 41, 102, 0.7);

}

.vission {
    background-color: rgba(244, 251, 92, 0.7);
    color: #000000;
}

.vission p,
.mission p {
    font-size: 12px;
    line-height: 15px; 

}


.login_form {
    width: 400px;    
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
}

.logo_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
    
}

.user_input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user_input input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #C3C3C3;
}

.login_button {
    height: 40px;
    background-color: #F4FB5C;
    border-style: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 15px;
}

.login_button:hover {
    box-shadow: 2px 2px  #000000;
}



.main_logos {
    display: flex;
    justify-content: center;
    gap: 50px;
}



.course_section {
    width: 100%;
    background-color: #0B2859;
    color: #f2f2f2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    padding: 50px 100px;
}

.box1,
.box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 20px 30px;
}


.cs_box,
.ba_box,
.educ_box,
.hm_box,
.crim_box,
.nursing_box {
    padding: 20px 30px;
    width: 350px;
    height: auto;
    border-radius: 8px;
    background-color: transparent; 
}

.cs_box p,
.ba_box p,
.educ_box p,
.hm_box p,
.crim_box p,
.nursing_box p {
    padding-top: 8px;
    font-size: 12px;
}

.cs_box:hover,
.ba_box:hover,
.educ_box:hover,
.hm_box:hover,
.crim_box:hover,
.nursing_box:hover {
    background-color: #001D4E;
}


.fclts_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.flts_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    line-height: 20px; 
}

.fclts_pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


.library_clinic{
    display: grid;
    grid-template-rows: 500px 500px;
    gap: 15px;

}

.library{
    background-image: url(assets/library.jpg);
}

.clinic {
    background-image: url(assets/clinic.jpg);
}

.library,
.clinic {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 15px 15px;
}

.library_cotainer,
.clinic_container {
    width: 100%;
    height: 100px;
    background-color: #363636b0;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 0 15px;
}

.library_cotainer svg,
.clinic_container svg {
    fill: transparent;
}

.library_cotainer svg:hover,
.clinic_container svg:hover{
    fill: #ddd121;
}

.library_cotainer p,
.clinic_container p {
    font-size: 12px;
}

.library:hover,
.clinic:hover {
  transform: scale(1.1);
}

.other_pic {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.canteen {
    background-image: url(assets/canteen.jpg);  
}

.grounds {
    background-image: url(assets/playgrounds.jpg);
}

.rooms {
    background-image: url(assets/rooms.jpg);
}

.canteen,
.grounds,
.rooms {
    display: flex;
    align-items: last baseline;

}

.canteen_container,
.grounds_container,
.rooms_container {
    width: 100%;
    height: 100px;
    background-color: #363636b0;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #ffffff;
    margin: 12px 12px;
}

.canteen_container p,
.grounds_container p,
.rooms_container p {
    font-size: 12px;
}

.canteen_container svg,
.grounds_container svg,
.rooms_container {
    fill: transparent;
}

.canteen_container svg:hover,
.grounds_container svg:hover,
.rooms_container svg:hover {
    fill: #ddd121;
}

.canteen,
.grounds,
.rooms {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    transition: 0.5s;
}

.canteen:hover,
.grounds:hover,
.rooms:hover{
    transform: scale(1.1);
}

.campus_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.campus_text {
    text-align: center;
    line-height: 20px;
}
.campus_text h1 {
    margin-bottom: 15px;
}

.campus_pic{
    position: relative;
}

.campus_pic img{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 7px 7px 7px #6A6A6A;
}

.campus_pic p{
    position: absolute;
    bottom: 6.5px;
    padding: 25px 0 25px 0;
    border-radius: 0 0 15px 15px;
    font-size: 2em;
    color: #ffffff;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(218, 218, 218));
    display: none;
}

.campus_pic:hover p{
    display: block;
    text-align: center;
}


.aboutus_section {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.aboutus_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
    
}

.aboutus_text {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: #0B2859;
}

.learnmore_button {
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: #0B2859;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
}

.learnmore_button:hover {
    background-color: transparent;
    color: #0B2859;
    font-weight: 700;
    border: 1px solid #0B2859;
}

.aboutus_icon {
    width: auto;
    height: auto;
    align-self: center;
    
}

.contact_section {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text_contact {
    width: 800px;
    text-align: center;
    color: #0B2859;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.email_container {
    position: relative;
    width: 700px;
    height: 60px;
}

.email_container input {
    width: 100%;
    height: 100%;
    background-color: #0B2859;
    border-radius: 30px;
    border-style: none;
    padding: 0px 30px;
    color: #ffffff;
}

.git_button {  
    position: absolute;
    top: 7px;  
    right: -50px;
}

.git_button {
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
}

.git_button:hover {
    background-color: #f6fab1;
}

.git_button:active {
    background-color: #f2ff00;
    transition: 1.5s;
}

.ratings_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.user_rating{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 15px;
}

.user1,
.user2 {
    background-color: #f2f2f2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px 40px;
}

.user1 p,
.user2 p {
    font-size: 12px;
}

.viewall_button {
    padding: 12px 80px;
    background-color: #F4FB5C;
    border-radius: 100px;
    border-style: none;
    font-size: 10px;
}

.viewall_button:hover {
    box-shadow: 3px 3px 0px #000000;
}


footer{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    background-color: #0B2859;
    padding: 50px 70px;
    align-self: center;
    
}

.navbar_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flogo {
    fill: #ffffff;
}

.flogo:hover {
    fill: #c9c9c9;
}

.fnav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fnav_link a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-size: 16px;
    letter-spacing: 1px;

}

.fnav_link a:hover {
    color: #c9c9c9;
}


.text_socialM {
    padding-top: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
    font-size: 15px;
}

.socialM-icon {
    width: 100%;
    display: grid;
    grid-template-columns: 22px 22px 22px;
    column-gap: 30px;
}

.fb-icon,
.ig-icon,
.twit-icon {
    fill: #ffffff;
}

.twit-icon:hover,
.fb-icon:hover,
.ig-icon:hover {
    fill: #c9c9c9;
}

.chccreserved_termscondition {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    color: #ffffff;
}






















